@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1>Automated Traffic Signal Performance Measures</h1>
        <p class="lead">ATSPM's show real-time and historical functionality at signalized intersections. This allows traffic engineers to directly measure what previously could only be estimated and modeled.</p>
        <p><a href="http://udottraffic.utah.gov/atspm/FAQs/Display" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                You can download the software from our site by clicking the button below.
            </p>
            <p><a class="btn btn-default" href="https://www.itsforge.net/">Download &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>What's New</h2>
            <p>Version 4.0</p>
            <ul>
                <li>Mobile Friendly</li>
                <li>ADA Compliant</li>
                <li>Enhanced Security</li>
                <li>Link Pivot Redone</li>
                <li>Easier Installation</li>
                <li>Conversion to use Entity Framework</li>
                <li>Converstion to MVC with Bootstrap</li>
                <li>New About Page</li>
                <li>New Logo</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>What's Next</h2>
            <p>UDOT is continually improving and updating the software. Currently we are working on the following features:</p>
            <ul>
                <li>Read-Only signal configuration option</li>
                <li>Modify Preemtion Metric so it is more readable</li>
                <li>Modify Purdue Split Failure to accomodate permissive left turns</li>
                <li>Modify Yellow and Red Actuations to accomodate permissive left turns</li>
                <li>Comprehensive GDOT documentation</li>
            </ul>

        </div>
    </div>
</div>